.b-message {
  margin: 65px auto 0 auto;
}

.b-message__heading {
  margin-bottom: 35px;
}

.b-message__grid {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 5px;
}

.b-message-item {
  margin-bottom: 30px;
}

@media all and (max-width: 993px){
  .b-message {
    margin: 30px auto 0;
  }
}

@media all and (max-width: 991px){
  .b-message__grid{
    justify-content: center;
    padding-left: 0;
  }
}
